<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Scrapper</title>
    <link rel="icon" type="image/svg" href="{% static 'image/logo.svg' %}" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div style="width: 600px; margin: 0 auto; margin-top: 150px">
      <form class="row g-3" method="post">
        {% csrf_token %}

        <div class="col-md-6">
          <label for="inputName" class="form-label">Name</label>
          <input type="text" class="form-control" id="inputName" name="playlist_name" />
        </div>

        <div class="col-md-6">
          <label for="inputLink" class="form-label"
            >Spotify Playlist Link</label
          >
          <input
            type="text"
            class="form-control"
            id="inputLink"
            name="link"
            placeholder="Enter Spotify Playlist URL"
          />
        </div>

        <div class="col-md-6">
          <label for="inputGenres" class="form-label">Select Genres</label>
          <select name="genre" id="inputGenres" class="form-control" multiple>
            {% for code, desc in form.genre.field.choices %}
            <option value="{{ code }}">{{ desc }}</option>
            {% endfor %}
          </select>
        </div>

        <div class="col-md-6">
          <label for="inputArtists" class="form-label">Select Artists</label>
          <select
            name="curated_artists"
            id="inputArtists"
            class="form-control"
            multiple
          >
            {% for code, desc in form.curated_artists.field.choices %}
            <option value="{{ code }}">{{ desc }}</option>
            {% endfor %}
          </select>
        </div>

        <div class="col-12">
          <button type="submit" class="btn btn-success">Submit</button>
        </div>
      </form>
    </div>
  </body>
</html>
