<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Scrapper</title>
    <link rel="icon" type="image/jpeg" href="{% static 'image/logo.jpeg' %}" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/loader.css' %}"
    />
  </head>
  <body>
    <div class="loader-container" id="loader">
      <div class="banter-loader">
        <div class="banter-loader__box"></div>
        <div class="banter-loader__box"></div>
        <div class="banter-loader__box"></div>
        <div class="banter-loader__box"></div>
        <div class="banter-loader__box"></div>
        <div class="banter-loader__box"></div>
        <div class="banter-loader__box"></div>
        <div class="banter-loader__box"></div>
        <div class="banter-loader__box"></div>
      </div>
    </div>

    <script>
      window.onload = function () {
        setTimeout(function () {
          //          document.querySelectorAll(".banter-loader__box").forEach((box) => {
          //            box.style.animation = "none";
          //            box.style.transform = "none";
          //          });

          document.getElementById("loader").classList.add("fade-out");

          setTimeout(function () {
            window.location.href = "{% url 'Pre-Dashboard' %}";
          }, 2000);
        }, 1000);
      };
    </script>
  </body>
</html>
