* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(1.6, 1.6);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  animation: fadeIn 1s ease-in;
}

.action--menu,
.action--close {
  pointer-events: auto;
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 1000;
  background: none;
}

.hidden {
  opacity: 0;
  transform: scale(0.8);
  pointer-events: none;
}

.action--menu:not(.hidden),
.action--close:not(.hidden) {
  opacity: 1;
  transform: scale(1);
}

/* Navbar */
#navbar {
  position: fixed;
  top: 0;
  right: -100%;
  width: 75%;
  max-width: 250px;
  height: 100vh;
  background-color: #333;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: right 0.3s ease-in-out;
}

/* Navbar Links */
#navbar ul {
  list-style: none;
  padding: 0;
}

#navbar ul li {
  margin: 15px 0;
}

#navbar ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

/* Show Navbar when Active */
#navbar.active {
  right: 0;
}

.container {
  height: 100vh;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
}

.section {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  scroll-snap-align: start;
}

#layout-1 {
  width: 100%;
  height: 40vw;
  background-image: url('../image/layout-1-original.jpg');
  background-size: cover;
  background-position: top;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#layout-1_1_1 {
  text-align: center;
  font-size: 3.5rem;
  font-family: "BANGERS", system-ui;
  color: #fff;
  font-weight: 700;
}

#layout-1_1_2 {
  margin-bottom: 2rem;
  text-align: center;
  font-size: 1.2rem !important;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  font-weight: 700;
}

#layout-1_2 {
  font-size: 0.8rem;
  color: #fff;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#layout-1_2_2 {
  width: 65rem;
  position: relative;
}

#layout-1_2_2 input {
  width: 100%;
  font-family: monospace;
  font-size: 1rem;
  background: transparent;
  outline: none;
  border: none;
  color: #222;
  padding: 8px;
}

#layout-1_2_2 i {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #ffffff;
}

#layout-1_2_2 i:before {
  content: '';
  position: absolute;
  width: 0%;
  height: 100%;
  background: #fff;
  animation: animate 3s linear infinite;
}

@keyframes animate {
  0% {
    width: 0%;
  }

  50% {
    width: 50%;
  }

  100% {
    width: 100%;
  }
}

#layout-1_3 {
  font-size: 0.8rem;
  color: #fff;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#layout-1_3_2 {
  width: 65rem;
  position: relative;
}

#explore {
  font-size: 1.5rem;
  color: #000;
  font-family: monospace;
  padding: 10px 20px;
  border-radius: 10px;
  border: 2px solid #fafafa;
  background: #fff;
  box-shadow: 3px 3px #fafafa;
  cursor: pointer;
  margin: 35px 0;
}
#explore:active {
  box-shadow: none;
  transform: translate(3px, 3px);
}

#download {
  font-size: 1.5rem;
  color: #fff;
  font-family: monospace;
  padding: 10px 20px;
  border-radius: 10px;
  border: 2px solid #fafafa;
  background: transparent;
  box-shadow: 3px 3px #fafafa;
  cursor: pointer;
  margin: 35px 0;
}
#download:active {
  box-shadow: none;
  transform: translate(3px, 3px);
}

#layout-2 {
  width: 100%;
  height: 40vw;
  background-image: url('../image/layout-2-original.jpg');
  background-size: cover;
  background-position: center;
}

#layout-3 {
  width: 100%;
  height: 40vw;
  background-image: url('../image/layout-3-original.jpg');
  background-size: cover;
  background-position: center;
}